In [211]:
import pandas as pd
from dotenv import load_dotenv
import sqlalchemy

In [212]:
%load_ext dotenv
%dotenv
x = %env

The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv

In [213]:
engine = sqlalchemy.create_engine(x['DATABASE_URL'])
conneciton = engine.connect()

In [214]:
final = pd.read_csv('C:/Users/Julio/Projects/PT17_cityspire-b-ds/notebooks/datasets/datasets_to_merge/updated/final.csv')
df = pd.read_csv('housing_data_prices_avg.csv').drop('Unnamed: 0',axis=1)

In [215]:
final

,City,State,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,...,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10,Air Quality Index,Diversity Index,Nearest,lat,lon
0,Akron,OH,267782,129623,138086,1.9,67.4,23.2,0.2,3.6,...,0,132,0,142,0,Good,0.490241,"126,56,332,355,295",41.044852,-81.520048
1,Albany,GA,93421,43571,49835,2.8,29.2,65.2,0.1,0.9,...,0,0,0,244,0,Good,0.488771,"162,372,139,351,249",31.567783,-84.161923
2,Albany,NY,147794,70664,77096,7.8,60.3,20.1,0.1,7.6,...,0,169,0,104,0,Good,0.584133,"319,358,336,145,79",42.652580,-73.756633
3,Albany,OR,61555,30378,31168,11.4,82.7,0.6,0.7,1.9,...,0,0,0,182,0,Good,0.302632,"29,132,230,383,202",44.627722,-123.094409
4,Albuquerque,NM,632240,309415,322758,50.4,38.5,2.5,4.0,2.4,...,0,127,0,25,30,Good,0.594958,"359,258,386,360,127",35.106766,-106.629181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,Worcester,MA,183628,89977,93611,20.8,57.2,11.7,0.3,7.3,...,6,169,0,61,1,Good,0.610528,"186,362,6,391,266",42.271389,-71.798889
393,Wyoming,MI,56377,27516,28855,23.8,62.0,7.1,0.4,2.3,...,0,131,0,50,0,Good,0.553378,"131,153,330,209,282",42.900867,-85.705775
394,Yakima,WA,125036,61639,63374,40.1,54.1,0.9,1.6,1.0,...,0,0,0,243,1,Good,0.546085,"256,383,202,320,230",46.606991,-120.477336
395,Yuba City,CA,75848,37647,38198,28.2,46.2,2.1,0.6,17.7,...,0,149,0,63,1,Good,0.675218,"267,368,255,354,392",39.128619,-121.621599
396,Yuma,AZ,142402,73123,69270,52.5,40.9,2.4,0.8,1.5,...,0,198,0,45,31,Good,0.556232,"329,134,350,368,130",32.701507,-114.642362

In [216]:
df

,SingleFamilyHousingAvgValue,CondoAvgValue,1-BedroomAvgValue,2-BedroomAvgValue,3-BedroomAvgValue,4-BedroomAvgValue,5+-BedroomAvgValue,City,State
0,217058.0,168761.0,168356.6,152586.0,205507.0,246398.0,269147.0,Mauldin,SC
1,426040.0,272959.0,232392.0,266659.0,377346.0,486333.0,665004.0,Ann Arbor,MI
2,563694.0,448918.0,412787.0,489094.0,558203.0,644181.0,718703.0,Anacortes,WA
3,153795.0,109827.0,65654.0,91142.0,157421.0,224186.0,315826.0,Wichita,KS
4,313790.0,172389.0,149424.0,193069.0,324978.0,424785.0,545135.0,West Palm Beach,FL
...,...,...,...,...,...,...,...,...,...
390,323761.0,229267.0,266221.0,262538.0,313319.0,322396.0,366498.0,Clearfield,UT
391,169241.0,112241.0,74356.0,75951.0,153546.0,260375.0,394836.0,Bossier City,LA
392,499663.0,371423.0,315692.0,433237.0,443658.0,574243.0,800081.0,Austin,TX
393,140079.0,117477.0,99493.0,142498.0,130864.0,167759.0,235480.0,Atlantic City,NJ
394,112808.0,126429.0,61388.0,53873.0,106418.0,237082.0,326957.0,Alexandria,LA

In [217]:
final['location'] = final['City'] + ', ' + final['State']

In [218]:
df['location'] = df['City'] + ',' + df['State']

In [219]:
sorted_df = df.sort_values(by='location').reset_index().drop('index',axis=1)

In [220]:
sorted_df[sorted_df['location']=='Portage, MI']

,SingleFamilyHousingAvgValue,CondoAvgValue,1-BedroomAvgValue,2-BedroomAvgValue,3-BedroomAvgValue,4-BedroomAvgValue,5+-BedroomAvgValue,City,State,location
273,210804.0,237670.0,159824.0,166425.0,195199.0,265292.0,353204.0,Portage,MI,"Portage, MI"
274,171355.0,217612.8,168356.6,156622.0,157979.0,209987.0,349664.0,Portage,MI,"Portage, MI"

In [221]:
final

,City,State,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,...,Days Ozone,Days SO2,Days PM2.5,Days PM10,Air Quality Index,Diversity Index,Nearest,lat,lon,location
0,Akron,OH,267782,129623,138086,1.9,67.4,23.2,0.2,3.6,...,132,0,142,0,Good,0.490241,"126,56,332,355,295",41.044852,-81.520048,"Akron, OH"
1,Albany,GA,93421,43571,49835,2.8,29.2,65.2,0.1,0.9,...,0,0,244,0,Good,0.488771,"162,372,139,351,249",31.567783,-84.161923,"Albany, GA"
2,Albany,NY,147794,70664,77096,7.8,60.3,20.1,0.1,7.6,...,169,0,104,0,Good,0.584133,"319,358,336,145,79",42.652580,-73.756633,"Albany, NY"
3,Albany,OR,61555,30378,31168,11.4,82.7,0.6,0.7,1.9,...,0,0,182,0,Good,0.302632,"29,132,230,383,202",44.627722,-123.094409,"Albany, OR"
4,Albuquerque,NM,632240,309415,322758,50.4,38.5,2.5,4.0,2.4,...,127,0,25,30,Good,0.594958,"359,258,386,360,127",35.106766,-106.629181,"Albuquerque, NM"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,Worcester,MA,183628,89977,93611,20.8,57.2,11.7,0.3,7.3,...,169,0,61,1,Good,0.610528,"186,362,6,391,266",42.271389,-71.798889,"Worcester, MA"
393,Wyoming,MI,56377,27516,28855,23.8,62.0,7.1,0.4,2.3,...,131,0,50,0,Good,0.553378,"131,153,330,209,282",42.900867,-85.705775,"Wyoming, MI"
394,Yakima,WA,125036,61639,63374,40.1,54.1,0.9,1.6,1.0,...,0,0,243,1,Good,0.546085,"256,383,202,320,230",46.606991,-120.477336,"Yakima, WA"
395,Yuba City,CA,75848,37647,38198,28.2,46.2,2.1,0.6,17.7,...,149,0,63,1,Good,0.675218,"267,368,255,354,392",39.128619,-121.621599,"Yuba City, CA"
396,Yuma,AZ,142402,73123,69270,52.5,40.9,2.4,0.8,1.5,...,198,0,45,31,Good,0.556232,"329,134,350,368,130",32.701507,-114.642362,"Yuma, AZ"

In [222]:
sorted_df['location'][0]

'Akron, OH'

In [223]:
# ?? How does this have no space but the one above has a space?
final['location'][0]

'Akron, OH'

In [224]:
a = pd.merge(final,sorted_df,how='left',on='location')

In [225]:
# not sure what happen but dropping a duplicate that got it's way into the dataframe of the prices: Portage MI
a = a.rename(columns = {'City_x':'City', 'State_x':'State'}).drop(['location','City_y','State_y'],axis=1).drop([276])

In [228]:
a

,City,State,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,...,Nearest,lat,lon,SingleFamilyHousingAvgValue,CondoAvgValue,1-BedroomAvgValue,2-BedroomAvgValue,3-BedroomAvgValue,4-BedroomAvgValue,5+-BedroomAvgValue
0,Akron,OH,267782,129623,138086,1.9,67.4,23.2,0.2,3.6,...,"126,56,332,355,295",41.044852,-81.520048,84363.0,146090.0,54873.0,68915.0,90885.0,114421.0,115066.0
1,Albany,GA,93421,43571,49835,2.8,29.2,65.2,0.1,0.9,...,"162,372,139,351,249",31.567783,-84.161923,89713.0,104091.0,53131.0,31176.0,86154.0,194355.0,258224.0
2,Albany,NY,147794,70664,77096,7.8,60.3,20.1,0.1,7.6,...,"319,358,336,145,79",42.652580,-73.756633,227082.0,154120.0,149080.0,186585.0,223518.0,265114.0,308318.0
3,Albany,OR,61555,30378,31168,11.4,82.7,0.6,0.7,1.9,...,"29,132,230,383,202",44.627722,-123.094409,327516.0,222806.0,230224.0,248308.0,317989.0,389785.0,444497.0
4,Albuquerque,NM,632240,309415,322758,50.4,38.5,2.5,4.0,2.4,...,"359,258,386,360,127",35.106766,-106.629181,245801.0,177085.0,154993.0,186294.0,237037.0,315793.0,391279.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,Worcester,MA,183628,89977,93611,20.8,57.2,11.7,0.3,7.3,...,"186,362,6,391,266",42.271389,-71.798889,314470.0,196318.0,160707.0,257966.0,311627.0,354805.0,439261.0
394,Wyoming,MI,56377,27516,28855,23.8,62.0,7.1,0.4,2.3,...,"131,153,330,209,282",42.900867,-85.705775,194658.0,164934.0,135899.0,165360.0,195271.0,214535.0,265791.0
395,Yakima,WA,125036,61639,63374,40.1,54.1,0.9,1.6,1.0,...,"256,383,202,320,230",46.606991,-120.477336,279173.0,240331.0,138225.0,201781.0,289786.0,353670.0,391134.0
396,Yuba City,CA,75848,37647,38198,28.2,46.2,2.1,0.6,17.7,...,"267,368,255,354,392",39.128619,-121.621599,366470.0,217612.8,168356.6,209384.9,341741.0,424957.0,498599.0
397,Yuma,AZ,142402,73123,69270,52.5,40.9,2.4,0.8,1.5,...,"329,134,350,368,130",32.701507,-114.642362,209391.0,158176.0,139632.0,157211.0,191796.0,272708.0,270708.0